.centerText{
    text-align:center;
}

.createButton {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 1em;
}

.createButton:hover{
    background-color: black;
    color: white !important;
}

.customImage{
    width: 10em;
    height: 10em;
}

textarea{
    resize: none;
}

#contactConfirm{
    display: none;
}

.contactPadding{
    padding-top: 5px;
}

.editButton{
    transition-duration: 0.4s;
    background-color:white;
    color:black;
    border: 2px solid #030387;
    padding: 4px 4px 4px 4px;
}

.editButton:hover{
    background-color: #030387;
    color: white !important;
}

.deleteButton {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #FA2B19;
    padding: 4px 4px 4px 4px;
}

.deleteButton:hover {
    background-color: #FA2B19;
    color: white !important;
}

.saveButton {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #52B524 !important;
    padding: 2px 1em 2px 1em;
    cursor: pointer;
    box-shadow: none !important;
}

.saveButton:hover {
    background-color: #52B524;
    color: white !important;
}

/*.backButton{
    transition-duration: 0.4s;
    background-color:white;
    color:black;
    border: 2px solid #A43BF5;
    padding: 4px 4px 4px 4px;
}

.backButton:hover{
    background-color: #A43BF5;
    color: white !important;
}*/

.confirmDelete {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #FA2B19 !important;
    padding: 2px 4px 2px 4px;
    cursor: pointer;
    box-shadow: none !important;
}

.confirmDelete:hover {
    background-color: #FA2B19;
    color: white !important;
}

#crudContainer{
    border: 3px solid black;
    /*box-shadow: 0.5em 0.5em gray;*/
    padding: 1em;
    margin: 0 5% 0 5%;
}

#leftInfo{
    float: left;
    width: 50%
}

#rightInfo fieldset{
    border: 2px solid black;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    width: 40%;
}

#rightInfo legend{
    border: 2px solid black;
    border-radius: 1em;
    padding-left: .5em;
    width: 62%;
}

#leftInfo fieldset {
    border: 2px solid black;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    width: 70%;
}

#leftInfo legend {
    border: 2px solid black;
    border-radius: 1em;
    padding-left: .5em;
    width: 65%;
}

#rightFooter{
    margin-left: 83%;
    text-align: right;
}

#rightFooter div{
    padding: 5px;
}

#leftFooter {
    text-align: left;
}

#leftFooter div {
    padding: 5px;
}

@media screen and (max-width: 600px){
    #rightInfo legend {
        border: 2px solid black;
        border-radius: 1em;
        padding-left: .5em;
        width: 100%;
    }

    #leftInfo legend {
        border: 2px solid black;
        border-radius: 1em;
        padding-left: .5em;
        width: 100%;
    }
}

fieldset p{
    word-wrap: break-word;
    width: 200px
}

div .col-md-10{
    padding-bottom: 10px;
    padding-top: 0px;
}