.button {
    display: inline-block;
    background-color: #030387;
    border-radius: 5em;
    color: white !important;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 0 7px 5px 7px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.customImage{
    width: 10em;
    height: 10em;
}

textarea{
    resize: none;
}

#contactConfirm{
    display: none;
}

.contactPadding{
    padding-top: 5px;
}